@import url('./master.css');
main {
  display: flex;
  justify-content: center;   
}

section {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-color: #ffffff; 
}

h1 {
  margin: 1rem;
}

.bar {
  height: 6px;
  border-radius: 3px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
}

* {
  margin: 0;
}

fieldset h3 {
  padding: 0 10px;
}

fieldset .entradas {
  display: flex;
  flex-direction: column;
}

.container-grid fieldset {
  margin: 10px;
  width: 80%;
}

.container-grid .entradas label{
  color: rgb(14, 163, 0);
  margin: 15px 10px 5px;
}

.container-grid .entradas input{
  margin: 0 10px 0;
  width: 80%;
}

.container-grid .entradas textarea{
  margin: 0 10px 0;
  width: 80%;
  font-size: 0.8rem;
}

@media screen and (min-width: 375px) {
  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  section {
    width: 780px;
  }
}

@media screen and (min-width: 1100px) and (min-height:  800px) {
  section {
    width: 1100px;
  }
}