@import url('./master.css');
main {
  display: flex;
  justify-content: center;   
}

section {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; 
}

h1 {
  margin: 1rem;
}

.bar {
  height: 6px;
  border-radius: 3px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.container-grid fieldset {
  padding: 10px;
  border: none;
}

.container-grid .map {
  padding: 10px 0;
}

.container-grid iframe {
  padding: 10px;
  width: calc(100% - 20px);
}

* {
  margin: 0;
}

.container-grid h3, .map h3 {
  text-align: center;
}

.container-grid .entradas {
  display: flex;
  flex-direction: column;
}

.container-grid .entradas label {
  margin: 15px 0 5px;
}

.container-grid .entradas input {
  height: 40px;
  border-width: 1px;
  border-style: solid;
}

.container-grid .entradas textarea {
  border-width: 1px;
  border-style: solid;
}

.btn-send {
  width: fit-content;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}

.btn-send:active {
  transform: translate(2px, 3px);
}

@media screen and (min-width: 375px) {
  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  section {
    width: 780px;
  }
}

@media screen and (min-width: 1100px) and (min-height:  800px) {
  section {
    width: 1100px;
  }
}