@import url('./master.css');
main {
  display: flex;
  justify-content: center;   
}

section {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; 
}

h1 {
  margin: 1rem;
}

.bar {
  height: 6px;
  border-radius: 3px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

* {
  margin: 0;
}

.container-grid img {
  margin: 10px;
  width: calc(100% - 20px);
  border-radius: 10px;
}
.container-grid iframe {
  margin: 10px;
  width: calc(100% - 20px);
}

@media screen and (min-width: 375px) {
  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  section {
    width: 780px;
  }
}

@media screen and (min-width: 1100px) and (min-height:  800px) {
  section {
    width: 1100px;
  }
}